<!doctype html>
<html>
<head>
  <meta charset=utf-8>
  <title>Lists of all</title>
    {% load static %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body style="background:url('{% static "farmers/images/background.jpg" %}') 100% 0 no-repeat fixed;color:white;height:100%;background-size:cover;">
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="{% url 'home' %}">WebSiteName</a>
      </div>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="{% url 'farmer_profile' %}"><span class="glyphicon glyphicon-user"></span> Back to profile</a></li>

      </ul>
    </div>
  </nav>
  <h2  class="text-center"style="color:black;">LIST OF Farmers</h2>
  <div class="text-center">
    <table class="table table-bordered table-hover"  style="color:black;">
      <thead>
        <th class="text-center">Sr.No</th>
        <th class="text-center">Name</th>
        <th class="text-center">Village</th>
        <th class="text-center">email</th>
        <th class="text-center">view profile</th>
        <th class="text-center">message</th>
      </thead>
      <tbody>
        {% for f in farmer %}
          <tr>
            <td>
              {{f.id}}
            </td>
            <td>
              {{f.name}}
            </td>
            <td>
              {{f.village}}
            </td>
            <td>
              {{f.email}}
            </td>
            <td>
              <a style="color:black;"href="{%url 'farmer_profile_view' username=f.username %}"><b>{{f.username}}</b></a>
            </td>
            <td>
              <a style="color:black;"href="{%url 'chat_box_list' username1=f.username %}">Message</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>


</body>
</html>
